.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 100%;
}

.text {
    border: 1px rgb(97, 95, 95) solid;
    background-color: rgb(246, 243, 243);
    border-radius: 5px;
    padding: 5px;
}

.tag {
    border-radius: 5px;
}

.inactive_image {
    filter: grayscale(100%);
    opacity: 0.6;
    cursor: pointer;
}

.active_text {
    text-shadow: 1px 1px 1px rgb(246, 91, 91);
    font-weight: bold;
}